html {
  scroll-behavior: smooth;
}

body {
  font-family: "Causten", sans-serif;
}
body.lock {
  overflow: hidden;
}

body.light {
  background-color: #fff;
  color: #000;
}

body.dark {
  background-color: #7e7e7e;
  color: #fff;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
  min-height: 100vh;
}

[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

nav a.active {
  color: green;
}

.meals__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}